<ion-tabs class="tabs-icon-top tabs-color-active-balanced tabs-light weixin-tabs">
    <ion-tab title="微信" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" badge-style="badge-assertive" badge="2" href="#/wechattab/home">
        <ion-nav-view name="tab-weixin"></ion-nav-view>
    </ion-tab>
    <ion-tab title="通讯录" icon-off="tabbar-item iconfont icon-tongxunlu2" icon-on="tabbar-item iconfont icon-tongxunlu" href="#/wechattab/addressbook">
        <ion-nav-view name="tab-addressbook"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现" icon-off="tabbar-item iconfont icon-faxian" badge="1" icon-on="tabbar-item iconfont icon-faxian1" href="#/wechattab/find" badge-style="badge-assertive">
        <ion-nav-view name="tab-find"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-off="tabbar-item iconfont icon-lianxiren-2" icon-on="tabbar-item iconfont icon-wo" href="#/wechattab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>


